@model BookPakistanTourClasslibrary.CompanyManagement.Company

@{
    ViewBag.Title = @Model.Name + " Details"; ;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="list-group-item-heading text-center notextselect">Company Details</h3>

<div class="col-lg-9">
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookPageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookPageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>

            <img src="@Url.Content(Model.ImageUrl)" alt="userimage" style="height:85px; width:70px" />

        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "EditCompany", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "CompanyManagment")
    </p>
</div>