@using BookPakistanTour.Models
@model IEnumerable<TourSummaryModel>

@if (Model != null)
{
    foreach (var p in Model)
    {
        <div id="proditem" class="col-lg-4">
            <div class="thumbnail notextselect">
                <a href="@Url.Action("TourDetail","Home", new { id=Convert.ToInt32(p.Id) })" class="img-thumbnail text-center center-block" style="text-decoration:none; color: inherit; width: 250px; height: 250px; background-image: url(@p.ImageUrl); background-size: cover; background-repeat: no-repeat; background-position: 50%;">
                    @*<img style="height: 100%" name="sumimg" id="sumig" src="@Url.Content(p.ImageUrl)" alt="Loading..." />*@ <!--Thumbnail Image (first or Default Image)-->
                </a>
                <small id="company"><a href="@Url.Action("ToursByCompany","Home",new { name = p.Company })" class="text-muted" style="text-decoration:none">@p.Company</a></small> <!-- Brand -->
                @if (p.Sale != 0)
                {
                    <p class="label label-default pull-right">@p.Sale% off</p> <!-- Sale Percentage -->
                }
                <br />
                <div style="height: 40px; overflow: hidden">
                    <strong><i class="glyphicon glyphicon-minus"></i> @p.Title</strong>  <!--Kit Includes-->
                </div>

                <hr style="margin-bottom: 5px; margin-top: 0">
                <div class="row">
                    <div class="col-lg-12">
                        @if (p.Sale != 0)
                        {
                            <div style="height: 63px; display: table; margin: auto">
                                <p class="text-center" style="font-size: 22px;color:#333; display: table-cell; vertical-align: middle"><strike style="font-size:small" class="text-muted">Rs @($"{p.Price:N0}")</strike> Rs @($"{p.Price - (p.Price * p.Sale / 100):N0}")</p>
                            </div>

                        }
                        else
                        {
                            <div style="height: 63px; display: table; margin: auto">
                                <p class="text-center" style="font-size: 22px;color:#333; display: table-cell; vertical-align: middle">Rs @($"{p.Price:N0}")</p> <!-- Price -->
                            </div>

                        }
                    </div>
                    <div class="col-lg-12">
                        <a href="@Url.Action("BookTrip","Booking", new { id = p.Id})" class="btn btn-primary btn-block">BOOK NOW</a>
                    </div>
                </div>
            </div>
        </div>
    }
}

